.power-supply-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.power-supply-table th, .power-supply-table td {
    border: 1px solid #dee2e6;
    padding: 10px;
    text-align: left;
    word-wrap: break-word; /* Allows long words to be broken and wrapped */
    overflow-wrap: break-word; /* Ensures text wraps correctly */
    max-width: 200px; /* Set a maximum width to limit the cell width */
}

.power-supply-table th {
    background-color: #343a40; /* Dark header */
    color: white;
}





.power-supply td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    color: #343a40;
}

.power-supply th {
    background-color: #343a40;
}